<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.seckill.infrastructure.dao.ICategoryDao">

    <resultMap id="dataMap" type="com.yue.seckill.infrastructure.dao.po.Category">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
    </resultMap>

    <select id="queryById" parameterType="java.lang.Integer" resultMap="dataMap">
        select id, name, code
        from category
        where id = #{id}
        limit 1
    </select>

</mapper>
