target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/ai-agent-station-study-app/data/
/data/
/docs/agent-execute-strategies/01-flowAgentExecuteStrategy.md
/docs/agent-execute-strategies/02-autoAgentExecuteStrategy.md
/docs/agent-execute-strategies/03-fixedAgentExecuteStrategy.md
/ai-agent-station-study-app/browser-state-0.json
/browser-state-0.json
/ai-agent-station-study-app/browser-state-0-fingerprint.json
/browser-state-0-fingerprint.json
/browser-state-1.json
/browser-state-1-fingerprint.json
/browser-state-2.json
/browser-state-2-fingerprint.json
/browser-state-3.json
/browser-state-3-fingerprint.json
/ai-agent-station-study-trigger/src/main/java/cn/bugstack/ai/trigger/http/FinanceController.java
/docs/agent-execute-strategies/README.md
/docs/数据库设计技术文档.md
/docs/顾问类型说明.md
