<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.groupbuy.infrastructure.dao.ISkuDao">

    <resultMap id="dataMap" type="com.yue.groupbuy.infrastructure.dao.po.Sku">
        <result column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_image_url" property="goodsImageUrl"/>
        <result column="goods_detail" property="goodsDetail"/>
        <result column="original_price" property="originalPrice"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <select id="queryByGoodsId" parameterType="java.lang.String" resultMap="dataMap">
        select goods_id, goods_name, goods_image_url, goods_detail, original_price, category_id
        from sku
        where goods_id = #{goodsId}
        limit 1
    </select>

    <select id="queryAllSkuList" resultMap="dataMap">
        select goods_id, goods_name, goods_image_url, goods_detail, original_price, category_id
        from sku
    </select>

</mapper>
